{% extends "organizations_base.html" %}
{% load url from future %}
{% load org_tags %}
{% block content %}
<h2>Group: {{ organization }}</h2>
<div class="row">
	<div class="span2">
	<a href="{% url "organization_edit" organization.pk %}"><button class="btn btn-primary btn-block" type="button">Edit</button></a>
	<p></p>
	<a href="{% url "organization_delete" organization.pk %}"><button class="btn btn-info btn-block" type="button">Delete</button></a>
	<p></p>
	<a href="{% url "organization_user_add" organization.pk %}"><button class="btn btn-success  btn-block" type="button">Add user</button></a>
	</div>
<div class="span5">
{% organization_users organization %}
</div>
</div>
{% endblock %}

